
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info input</title>
</head>
<body >
<form action = "http://localhost:5000/item_list" method = "POST">
   <p>Item Name <input type = "text" name = "Item-name" /></p>
   <p>Item Id   <input type = "text" name = "Item-id" /></p>
   <p>Quantity  <input type = "text" name = "Quantity" /></p>
   <p>Price     <input type ="text" name = "Price" /></p>
   <p><input type = "submit" value = "submit" /></p>
</form>
</body>
</html>
